font-face {
    font-family: 'Gotham-Bold';
    src: url('./fonts/GothamBold.eot');
    src: url('./fonts/GothamBold.eot') format('embedded-opentype'),
         url('./fonts/GothamBold.woff2') format('woff2'),
         url('./fonts/GothamBold.woff') format('woff'),
         url('./fonts/GothamBold.ttf') format('truetype'),
         url('./fonts/GothamBold.svg#GothamBold') format('svg');
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('./fonts/GothamBook.eot');
    src: url('./fonts/GothamBook.eot') format('embedded-opentype'),
         url('./fonts/GothamBook.woff2') format('woff2'),
         url('./fonts/GothamBook.woff') format('woff'),
         url('./fonts/GothamBook.ttf') format('truetype'),
         url('./fonts/GothamBook.svg#GothamBook') format('svg');
}
@font-face {
    font-family: 'Gotham-Light';
    src: url('./fonts/GothamLight.eot');
    src: url('./fonts/GothamLight.eot') format('embedded-opentype'),
         url('./fonts/GothamLight.woff2') format('woff2'),
         url('./fonts/GothamLight.woff') format('woff'),
         url('./fonts/GothamLight.ttf') format('truetype'),
         url('./fonts/GothamLight.svg#GothamLight') format('svg');
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('./fonts/GothamMedium.eot');
    src: url('./fonts/GothamMedium.eot') format('embedded-opentype'),
         url('./fonts/GothamMedium.woff2') format('woff2'),
         url('./fonts/GothamMedium.woff') format('woff'),
         url('./fonts/GothamMedium.ttf') format('truetype'),
         url('./fonts/GothamMedium.svg#GothamMedium') format('svg');
}

